<h1>Hey Secret Santa!</h1>
<p>You will be buying a gift for <%= @recipient.name %>.</p>
<p>Make it fun. Gag gifts are always nice. You don't need to spend a lot. Around $10 is usually a good guage.</p>
