@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'mixins';
@import 'flipclock';

body {
  @include full-background('background.png');
  color: #f0f0f0;
}

.title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 6em;
  font-weight: 100;
  text-shadow: 0px 0px 3px #990000;
  margin: 90px auto 50px;
  letter-spacing: 6.1px;
  color: white;
}

.alert {
  top: 45%;
  width: 100%;
  text-align: center;
  left: 0;
}

#group-id-form {
  opacity: 0.8;
}

.clock {
  padding: 0 65px;
  margin-top: 50px;
  .flip-clock-divider {
    color: white;
    .flip-clock-label {
      color: white;
      font-size: 20px;
    }
  }
}

.stat-box {
  margin: 60px 0;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #333333;
  padding: 10px 0;
  .accent {
    color: #149933;
    text-shadow: none;
  }
}

.flip-clock-wrapper ul li a div div.inn {
  text-shadow: 0 0px 3px #f00 !important;
}

footer.footer {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 11px;
  color: #cccccc;
  a {
    color: #f0f0f0;
  }
}
@media (max-width: 1200px) {
  .flip-clock-label {
    display: none !important;
  }
  .clock {
    zoom: 0.8;
  }
}
@media (max-width: 990px) {
  .clock {
    margin-left: auto;
    zoom:0.6;
  }
}

@media (max-width: 630px) {
  .clock {
    margin-left: 45px;
  }
}
@media (max-width: 450px) {
  .clock {
    margin-left: 75px;
    zoom: 0.4;
  }
}
